.searchBar {
    display: inline-flex;
    margin: 30px;
}

.searchElements {
    display: -ms-inline-grid;
}

#refresh {
    font-size: small;
}

.updateSearch {
    display: inline-flex;
    margin: 30px;
}
