.title {
    color: rgb(63, 80, 181);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 300;
    font-size: x-large;
    margin-bottom: 40px;
}

.header-image {
    height: 200px;
    width: auto;
}
